code/.ipynb_checkpoints/1_Initial EDA and cleaning-checkpoint.ipynb
code/.ipynb_checkpoints/1_Initial_Modeling_Notebook_Song-checkpoint.ipynb
code/.ipynb_checkpoints/2_Attemp_on_KMeans-checkpoint.ipynb
code/.ipynb_checkpoints/3_notebook3_forsure_thiswill_work_(DONOTUSE)-checkpoint.ipynb
code/.ipynb_checkpoints/4_Modeling_With_3_Targets-checkpoint.ipynb
code/.ipynb_checkpoints/5_Modeling_2_Targets_With_Ensambling-checkpoint.ipynb
code/.ipynb_checkpoints/6_Text_Preprocessing_Understanding-checkpoint.ipynb
code/.ipynb_checkpoints/Best_Model_Index-checkpoint.ipynb
code/.ipynb_checkpoints/Modeling_attempt_multiple_feats(NOTME)-checkpoint.ipynb
